/* Global */

:root {

    / * App Colors * /

--color-primary: var(--color-black);
--color-primary-variant: var(--color-gray);
--color-accent: var(--color-blue);
--color-accent-variant: var(--color-orange);
--color-text: var(--color-white);

    /* Colors */
--color-white: #ffffff;
--color-black: #050a13;
--color-blue: #03e8f9;
--color-orange: #fd6413;
--color-gray: #1b1e26;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', 'sans-serif';
    margin: 0;
}

h1,h2,h3,p1,p2,ul{
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color:var(--color-text)
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
} 

/* Header */

.header {
    position: fixed;
    top: 0;
    background-color: #050a13;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap:8px;
}

.header-logo-image {
    width: 36px;
    height: 36px;
}

.header-logo-title {
    font-size: 1.8rem;
}

.header-menu {
    display: flex;
    gap:4px;

}

.header-menu-item {
    padding: 8px 16px;
    font: 8px;
}

.header-menu-item:hover{
    border-bottom: 1px solid var(--color-accent);
}

.header-menu-item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* Home */

#home {
    background-color: var(--color-black);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

.home-image {
    width:200px;
    height:200px;
    margin:auto;
    border: 3px solid var(--color-accent);
    border-radius: 100%;
 
}

.home-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home-title-strong {
    color: var(--color-accent);
}

.home-description {
    font-size: 18px;
}

.home-contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    font-weight: bold;
    padding:8px 12px;
    margin: 2rem;
    border-radius: 4px;
    
}

.home-contact:hover {
    background-color: transparent;
    color: var(--color-white);
    outline: 2px solid var(--color-accent); 
     /* outline: 다른 컨텐츠 글자 밀림 영향 안 주기 위해 border 대신 사용 */
}