/* Global */
/* Colors */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;  
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open-Sans",
        sans-serif;
        margin: 0;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul
{
 list-style: none;
 padding: 0;
}

a{
    text-decoration: none;
    color: var(--color-text);
}
button {
    background-color: transparent;
    outline: 0;
    border: 0;
}
/* 버튼 눌렀을 때 */
button:focus{
    outline: 1px solid transparent;
}

.header {
    /* 맨 위에 헤더 고정시키기 */
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    /* 각 이미지와 타이틀 수평 배치 */
    display: flex;
    /* 이미지와 텍스트 사이 간격 생성 */
    justify-content: space-between;
    /* 수직 중간 정렬 */
    align-items: center;
    padding: 1rem;
    z-index: 1;
    transition: all 300ms ease;
}
.header-dark{
    background-color: var(--color-primary);
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header-logo-img{
    width: 36px;
    height: 36px;
}
.header-logo-title {
    font-size: 25px;
}

.header-menu {
    display: flex;
    gap: 4px;
    
}
.header-toggle{
    display: none;
    color: var(--color-text);
    font-size: 1.5;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
}
.header-menu-item {
    /* 상하 8 좌우 16 */
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid transparent;
}

.header-menu-item:hover{
    border-bottom: 1px solid var(--color-accent);
}

.header-menu-item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}
/* Home */
#home{
background-color: var(--color-primary);
color: var(--color-text);
padding: 5rem 1rem;
padding-top: 7rem;
/* 텍스트 중앙 정렬 */
text-align: center;
}

.home-container{
    opacity: 1;
}
.home-img{
    width: 250px;
    height: 250px;
    /* 이미지 비율 유지 */
    object-fit: cover;
    border: 3px solid var(--color-accent);
    border-radius: 100%;
    margin-bottom: 1rem;
}

.home-title{
    font-size: 3rem;
    /* 아래 텍스트와 간격 */
    margin-bottom: 1rem;
}
.home-title-strong{
    color: var(--color-accent);
}

.home-description{
    font-size: 1.2rem;
}

.home-contact{
    /* a 태그가 인라인 요소라 위 아래 마진 적용이 안 돼서 인라인 블럭으로 변경 */
    display: inline-block;
    background-color: var(--color-accent);
    font-weight: bold;
    color: var(--color-primary);
    padding: 8px 20px;
    margin: 2rem;
    border-radius: 4px;
}

.home-contact:hover{
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);

}

/* common */
.section{
    text-align: center;
    padding: 4rem;
}

.title{
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description{
font-size: 1.2rem;
margin: 0.5rem 0;
}

.max-container{
    /* 화면 커져도 최대 사이즈 이상 늘어나지 않도록 */
    max-width: 1200px;
    /* 남는 공간 균등하게 좌우 배치 */
    margin: auto;
}
/* About */

.majors{
    /* 수평 정렬 */
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 2.5rem 1.5rem;
}

.major{
background-color: var(--color-primary);
color: var(--color-text);
padding: 2rem 1.5rem;
border-radius: 1rem;
/* 커서가 텍스트 부분에서 바뀌지 않도록 */
cursor: default;
box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.major-icon{
    font-size: 4rem;
    color: var(--color-accent);
    margin: 1rem 0;
    /* 애니매이션 효과 자연스럽게 */
    transition: all 300ms;
}

.major-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.major:hover .major-icon{
    /* 커서 올라오면 회전 */
    transform: rotate(-15deg) scale(1.2);
}

.job-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.jobs{
    /* 왼쪽 정렬 */
    text-align: start;
}

.job{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;

}

.job-name{
    color: var(--color-primary);
}

.job-period{
    font-size: 0.8rem;
}

#skills{
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skills{
   display: grid;
   grid-template-columns: 6fr 4fr;
   justify-content: space-between;
   margin: 2rem 3rem;
   border-radius: 8px;
   /* border-radius 처리 후 컨테이너 밖으로 삐져나 온 부분 안 보이게 하기 위함 */
   overflow: hidden;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.skills-coding{

    padding: 1rem;
    background-color: var(--color-primary);
}

.skills-tools{
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(160%);
}

.skills-title{
    margin: 1rem 0;
    color: var(--color-accent);
    font-size: 1.2rem;
}

.bar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar-metadata{
    display: flex;
    justify-content: space-between;
}

.bar-bg{
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar-value{
    height: 3px;
   background-color: var(--color-accent);
}

.items{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    font-size: 1.2rem;
    
}

/* Work */
#work{
   background-color: var(--color-primary);
    color: var(--color-text);
}
.categories{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2.5rem


}
.category{
    /* 아래 category cnt 이동 시키면 부모 섹션이 category로 지정하기 위함 */
    position: relative;
    color: var(--color-text);
    padding: 1rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    /* 마우스 올리면 손가락 모양 */
    cursor: pointer;
}

.category-selected{
    background-color: var(--color-accent);
    color: var(--color-primary);

}

.category-cnt{
    /* 평상시에 안 보이게 */
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: var(--color-accent-variant);
    border-radius: 100%;
    /* 화면 가로 길이 줄어도 줄 바꿈 안 되게 */
    white-space: nowrap;
}

.category-selected .category-cnt,
.category:hover .category-cnt{
opacity: 1;
top: 3px;
transition: all ease-in 250ms
}

.projects{
    display: grid;
    /* 1배율 2 * 2 칸 */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.project{

position: relative;
border-radius: 8px;
/* 자식 섹션 이미지가 테두리 밖으로 안 나오게 */
overflow: hidden;
}

.project-img{
    width: 100%;
}

.project-metadata{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    /* 평소에는 안 보임 */
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease-in 300ms;
    /* 평상시에 10px 올라가 있는 상태 */
    transform: translateY(-10px);
}
/* 커서 올라오면 메타 데이터 표시 */
.project:hover .project-metadata{
    opacity: 0.8;
    /* 마우스 올라오면 내려오는 효과 */
    transform: translateY(0);
    
}
/* HTML 문서에 없는 가상의 css 요소 */
.project-title::after {
content: '';
display: block;
position: relative;
width: 50px;
left: 50%;
height: 2px;
transform: translateX(-50%);
background-color: var(--color-accent);
margin: 5px 0;
}

/* Arrow-up */

/* Footer */

#contact{
    background-color: var(--color-text);
    color: var(--color-primary);
}

.contact-links{
   display: flex;
   justify-content: center;
   padding: 1rem;
   gap: 1rem;
   font-size: 2rem;
}
.contact-link1 {
   color: var(--color-primary);
transition: color 200ms ease-in;
}
.contact-link2 {
    color: var(--color-primary);
    transition: color 200ms ease-in;
}
.contact-link1:hover{
color: purple;
}
.contact-link2:hover{
    color: var(--color-accent);
    
}

.contact-title{
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.arrow-up{
    
    background-color: var(--color-primary);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    text-align: center;
    transition: opacity 300ms ease-in;
   
}
/* 웹 브라우저 화면 작아지거나 모바일로 볼 때 기준/ 768px 보다 작아지면 따로 스타일링 설정 */
@media screen and (max-width: 768px){
    .section{
        padding: 4rem 2rem;
    }

    .title{
        font-size: 2rem;
    }

    .description{
        font-size: 1.5rem;
    }
    .header{
        background-color: var(--color-primary);
        flex-direction: column;
        align-items: start;
    }
    .header-toggle{
       display: block;

    }


.header-menu{
    display: none;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    gap: 1rem;
}

.header-menu.open {
    display: flex;
}
    #home{
        padding-bottom: 3rem;
    }
    .home-title{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
.header-nav{
    width: 100%;
}
    .majors{
        flex-direction: column;
        align-items: center;
    }
    .major{
        max-width: 25rem;
        
    }
    .job{
        justify-content: center;
    }

    .skills{
        /* 한 개 열만 생성 */
        grid-template-columns: 1fr;
    }

    .categories{
        flex-direction: column;
    }

    .category{
        width: 100%;
    }
}