/* Global */

:root {

    / * App Colors * /

--color-primary: var(--color-black);
--color-primary-variant: var(--color-gray);
--color-accent: var(--color-blue);
--color-accent-variant: var(--color-orange);
--color-text: var(--color-white);

    /* Colors */
--color-white: #ffffff;
--color-black: #050a13;
--color-blue: #03e8f9;
--color-orange: #fd6413;
--color-gray: #1b1e26;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', 'sans-serif';
    margin: 0;
}

h1,h2,h3,p1,p2,ul{
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color:var(--color-text)
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
} 

/* Common */
.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: 1200px;
    margin:auto;
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
/* Header */

.header {
    position: fixed;
    top: 0;
    background-color: #050a13;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap:8px;
}

.header-logo-image {
    width: 36px;
    height: 36px;
}

.header-logo-title {
    font-size: 1.8rem;
}

.header-menu {
    display: flex;
    gap:4px;

}

.header-menu-item {
    padding: 8px 16px;
    font: 8px;
}

.header-menu-item:hover{
    border-bottom: 1px solid var(--color-accent);
}

.header-menu-item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* Home */

#home {
    background-color: var(--color-black);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

.home-image {
    width:200px;
    height:200px;
    margin:auto;
    border: 3px solid var(--color-accent);
    border-radius: 100%;
 
}

.home-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home-title-strong {
    color: var(--color-accent);
}

.home-description {
    font-size: 18px;
}

.home-contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    font-weight: bold;
    padding:8px 12px;
    margin: 2rem;
    border-radius: 4px;
    
}

.home-contact:hover {
    background-color: transparent;
    color: var(--color-white);
    outline: 2px solid var(--color-accent); 
     /* outline: 다른 컨텐츠 글자 밀림 영향 안 주기 위해 border 대신 사용 */
}

/* About */

.majors {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0;
}

.major {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
    padding: 2rem 1rem;
    border-radius: 1rem;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
 
}

.major-icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;
}

.major-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
   
}

.major:hover .major-icon {
    transform: rotate(-15deg) scale(1.2);

}

.jobs {
    text-align: start;
}

.job {
    display: flex;
    text-align: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job-name {
    color: var(--color-black);
}

.job-period {
    color: var(--color-black);
    font-size: 12px;
}

.job-icon {
    width: 120px;
    height: 120px;
}

/* Skills */

#skills {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skills {
    display:grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
}

.skills-title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}
.skills-coding {
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-black);
}

.skills-tools {
 padding: 1rem; 
 background-color: #050a13;
 filter: brightness(200%);
}

.skills-etc {
padding: 1rem;
background-color: var(--color-black);
filter:brightness(140%);
}

.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar-metadata {
    display: flex;
    justify-content: space-between;
}

.bar-bg {
    width:100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar-value {
    height: 3px;
    background-color: var(--color-blue);
}

/* Works */

#work {
    background-color: var(--color-black);
    color: var(--color-text)
}

.categories {
    display: flex;
    justify-content: center;
    margin:2.5rem;
    gap: 2rem;
}

.category {
    position: relative;
    color: var(--color-text);
    font-size: 1.1rem;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    padding: 0.5rem 3rem;
    cursor: pointer;
    /* 줄 바꿈 방지 */
    white-space: nowrap;  

}

.category-selected {
    background-color: var(--color-accent);
    color: var(--color-black);
}

.category-count {
    opacity: 0;
    position: absolute;
    top:0;
    right:16px;
    width: 28px;
    height:28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-orange);
    color: var(--color-text);
    transition: all 300ms ease-in;
}

.category-selected .category-count,
.category:hover .category-count {
opacity: 1;
}